/* Start Variables */
:root{
  --main-color:#63CAB8;
  --second-color:#2C4855;
  --section-padding:60px;
  --section-background:#f7f7f7;
}
/* End Variables */
/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
    
}
::selection{
  background-color: var(--main-color);
  color: var(--second-color);
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/* End Global Rules */
/* Start components*/
  .special-heading{
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    margin: 0;
    text-align: center;
    letter-spacing: -2px;
  }
  .special-heading + p{
    color: #797979;
    font-size:20px ;
    margin: -30px 0 0;
    text-align: center;
  }
  @media (max-width: 767px){
    .special-heading{
      font-size: 60px;
    }
    .special-heading + p{
      margin-top: -20px;
    }
  }
/* End components*/
/* Start Header */
header{
    padding: 20px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    width: 60px;
}
header .links{
    position: relative;
}
header .links:hover .icon span:nth-child(2){
  width: 100%;

}
header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;


}

header .links .icon span{
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
header  .links .icon span:first-child {
  width: 100%;
}
header  .links .icon span:nth-child(2){
  width: 60%;
  transition: .3s;
}
header  .links .icon span:last-child{
  width: 100%;
}
header .links ul{
  list-style: none;
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: #68D3C5;
  right: 0 ;
  min-width: 200px;
  top:calc(100% + 15px);
  display: none;
  z-index: 1;

}
header .links:hover ul{
  display: block;
}
header .links ul::before{
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #68D3C5 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
header .links ul li a{
  text-decoration: none;
  padding: 15px;
  display: block;
  color: #333;
  transition: .3s;
}
header .links ul li a:hover{
  padding-left: 25px;
}
header .links ul li:not(:last-child){
  border-bottom: 1px solid #23443f;
}
/* end Header */
/* Start Landing */
.landing{
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc( 100vh - 64px);
  position: relative;
}
.landing .intro-text{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50% ,-50%);
  width: 320px;
  text-align: center;
  max-width: 100%;
}
.landing .intro-text h1{
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color ,#63CAB8);

}
.landing .intro-text p{
  font-size: 19px;
  line-height: 1.8;
}
/* End Landing */
/* start Feature */
  .features{
    padding-top:var(--section-padding) ;
    padding-bottom: var(--section-padding);
  }
  .features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill  , minmax(300px ,1fr));
    grid-gap: 20px;
    
  }
  .features .feat{
    padding: 20px;
    text-align: center;
  }
  .features .feat i{
    font-size: 50px;
    color: var(--main-color);
  }
  .features .feat h3{
    font-weight: 800;
    margin: 30px 0;
  }
  .features .feat p{
    line-height: 1.8 ;
    font-size: 17px;
    color: #777;
  }
/* End Feature */
/* Start Services*/
  .services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }
  .services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px ,1fr));
    margin-top: 100px;
  }
  .services .services-content .ser{
    display: flex;
    margin-bottom: 40px;
  }
  @media (max-width:767px){
    .services .services-content .ser{
      flex-direction: column;
      text-align: center;
    }
  }
  .services .services-content .ser i{
    color: var(--main-color);
    font-size: 30px;
    flex-basis: 60px;
  }
  .services .services-content .ser .text{
    flex: 1;
  }
  .services .services-content .ser .text h3{
    margin: 0 0 20px;
  }
  .services .services-content .ser .text p{
    color: #777;
    font-weight: 300;
    line-height: 1.6;
  }
  .services .services-content .image{
    text-align: center;
    position: relative;
  }
  .services .services-content .image::before{
    content: "";
    background-color: var(--second-color);
    width: 100px;
    position: absolute;
    right: 0;
    height: calc(100% + 100px);
    top: -50px;
    z-index: -1;
  }
  @media (max-width:1199px){
    .services .image-dis {
      display: none;
    }
  }
  .services .services-content .image img{
    width: 300px;
    height: 300px;
  }
/* End Scrvices*/

/* Start Portflio */
  .portflio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
  }
  .portflio .portflio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    grid-gap:30px;
    margin-top: 100px;
  }
  .portflio .portflio-content .card{
    background-color: white;
  }
  .portflio .portflio-content .card img{
    width: 100%;
    height: 240px;
  }
  @media(max-width:767px){
    .portflio .portflio-content .card img{
      max-width: fit-content;
    }
  }
  .portflio .portflio-content .card .info{
    padding:10px
  }
  .portflio .portflio-content .card .info h3{
    font-size: 20px;
    font-weight: 800;
    margin: 0;
  }
  .portflio .portflio-content .card .info p{
    font-weight: 300;
    margin-bottom:0;
    color: #777;
    line-height: 1.5;
  }
/* End Portflio */
/* Start About */
.about{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  
}
.about .about-content{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width:991px){
  .about .about-content{
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image{
  position: relative;
  width: 340px;
  height: 320px;
}
@media (max-width:991px){
  .about .about-content .image{
    margin: 0 auto 60px;
  }
}
.about-content .image img{
  width: 100%;
  height: 100%;
}
.about .about-content .image::before{
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  background-color: #EBECED;
  left: -7px;
  z-index: -1;
  top: -40px;
}
.about .about-content .image::after{
  content: "";
  position: absolute;
  width: 100px;
  height: 210px;
  border-left:80px solid var(--main-color);
  border-bottom:80px solid var(--main-color);
  z-index: -1;
  top: -26px;
  right: -130px;

}
@media (max-width:991px){
  .about .about-content .image::before,
  .about .about-content .image::after{
    display: none;
  }
}
.about .about-content .text{
  flex-basis: calc(100% - 600px);
}
.about .about-content .text p:first-of-type{
  font-weight: bold;
  line-height: 2;
  margin-bottom:50px ;
}
.about .about-content .text hr{
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type{
  line-height: 2;
  color: #777;
  margin-top: 0;
}
/* End About */
/* Start Content */
.contact{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .contact-content{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .contact-content .label{
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 20px;
  color: var(--second-color);
  letter-spacing: -2px;
}
.contact .contact-content .link{
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
@media (max-width:767px){
  .contact .contact-content .label,
  .contact .contact-content .link{
    font-size: 25px;
  }
}
.contact .contact-content .social{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .contact-content .social i{
  margin-left: 10px;
  color: var(--second-color);
}

/* End Content */
/* Start footer */
.footer{
  background-color: var(--second-color);
  padding: 15px 10px;
  color: white;
  text-align: center;
  font-size: 18px;
}
.footer span{
  color: var(--main-color);
  font-weight: bold;
}

/* End footer */